html, body, #root, .ant-layout {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.G-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.G-app-layout {
  position: relative;
  height: 100%;

  .G-app-content {
    margin: 16px 16px 0 16px;
    flex: 1 1 0;
    // 取消 ant design 默认的 min-height
    min-height: unset;

    .G-site-main-layout {
      padding: 24px;
      height: 100%;
      background: #fff;
    }
  }

  .G-app-footer {
    text-align: center;
  }
}

.G-hide {
  display: none;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
