.M-filter-container {
  padding: 24px;
  margin: 0 8px 16px;
  background: #ffffff;

  button {
    margin: 0 0 0 8px;
  }

  // 覆盖 ant design 默认的 label 字体大小
  .ant-form-item-label > label {
    font-size: 12px;
  }
}
